@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/iranyekan/woff2/IRANYekanX-Medium.woff2");
}

@font-face {
  font-family: iranyekan;
  font-style: bold;
  font-weight: 700;
  src: url("/assets/fonts/iranyekan/woff2/IRANYekanX-ExtraBold.woff2");
}